.button {
  width: 150px;
  height: 45px;
  border: 2px solid #0a0a0a;
  border-radius: 60px;
  background-color: transparent;
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
