.container {
  width: 100%;

  .columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .column {
      width: 558px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
